- provide(:title, "クイズ")
- content_for(:description, 'クイズに挑戦！')

.container
	
	.row
		.col-md-10.col-md-offset-1
			- @questions.each_with_index do |q, i|
				%h3 問題#{i+1}
				.jumbotron
					%p
						=	q.question

	.row					
		.text-center
			%h4
				= will_paginate @questions, :renderer => BootstrapPagination::Rails
