- provide(:title, 'Index Page')
- content_for(:description, 'Let\'s play Kampo Quiz app')

.primary_content.grid_12
	.short_message
		%h2
			東洋医学・漢方・薬膳に関する問題を出題！

	.sample_app.grid_6
		.app_image
			%img{:src => "/assets/demo.png", :alt => "Sample image"}
		= link_to "https://itunes.apple.com/us/app/han-fangkuizu/id942073931?mt=8" do
			.app_store_download_logo
				%img{:src => "/assets/apple_store_logo.png", :alt => "App Store logo"}
		%p
			for iPhone / iPad

	.app_description.grid_6
		%h2
			こんな人にオススメ!
		=image_tag "illustoration/group_1.png"
		%h3
			東洋医学に興味がある
	
		=image_tag "illustoration/group_2.png"
		%h3
			美と健康を維持したい！
	
		=image_tag "illustoration/group_3.png"	
		%h3
			ヘルスケア産業従事者	



