.container
	.row
		.col-md-12
			/ .fb-like-box(data-href="https://www.facebook.com/pages/%E6%B8%A1%E8%BE%BA%E8%B3%A2%E6%B2%BB%E7%A0%94%E7%A9%B6%E4%BC%9A/1425824640965426" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false")

			/ %a(href='https://twitter.com/share' class='twitter-share-button' data-url='http://example.com' data-count='horizontal' data-lang='en')Tweet

.container
	/ .row
	/ 	.col-md-12.text-center
	/ 		%a{"href" => "http://referrals.trhou.se/junxiangzhang", "target" => "_blank"}
	/ 			%img{"src" => "http://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/content/referral-badge-grn.png"}
	.row
		.col-md-12
			%p.text-center
				&copy; 2014 漢方クイズ
